.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-buttons .btn {
    margin-left: 15px;
    padding: 8px 15px;
}

body {
    font-family: 'Helvetica', SemiBold, serif;
    background: #F0F0FF;
}

.btn-twitch {
    border-radius: 3px;
    color: #FFFFFF;
    background-color: #9146FF;
    border-color: #9146FF;
    height: 50px;
    width: 130px;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
}

.logout {
    position: absolute;
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
    right: 50px;
    top: 35px;
}

.div-twitch {
    position: relative;
}

.btn-twitch:hover,
.btn-twitch:focus,
.btn-twitch:active {
    color: #FFFFFF;
    background-color: #472e75;
    border-color: #2F1F4E;
}

svg {
    height: 40px;
    width: 40px;
}

.st0 {
    fill: #FFFFFF;
}

.st1 {
    fill: #9146FF;
}

nav {
    margin: 27px;
    position: relative;
    height: 70px;
    background-color: #D2D2E6;
    border-radius: 8px;
    font-size: 0;
}

nav a {
    line-height: 70px;
    font-size: 10px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: black;
    cursor: pointer;
    width: 150px;
    border-radius: 8px;
}

.nav-container nav a:hover {
    background-color: #BFABFF;
}

nav .active {
    color: #FFFFFF;
    background-color: #472e75;
}

h1 {
    text-align: center;
    margin: 40px 0 40px;
    font-size: 30px;
    color: black;
}

span {
    color: #BFABFF;
}

table {
    margin: 0 auto;
    color: #333;
    background: white;
    border: 1px #9146FF;
    font-size: 12pt;
    border-collapse: collapse;
}

table thead th,
table tfoot th {
    color: #BFABFF;
    background: #472e75;
}

table caption {
    padding: .5em;
    font-size: 14pt;
}

table th,
table td {
    padding: .5em;
    border: 1px solid #D2D2E6;
}

